$font: 'Open Sans',Arial, sans-serif;
$header-text-color: #ffffff;

$main-page-text: #254fad;

$shadow: 2px 2px 3px #a1a1a1;

$special: #e17055;
$special-text-color: #ffffff;

$footer-text: #8a8a8a;
$footer-bg: #38383a;

$outside-padding: 20px 25px 0;
$padding-med-screen: 30px 20px;
$padding-big-screen: 30px 0;

