.container {
    max-width: 1000px;
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.row {   
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    &__item {
        box-sizing: border-box;
        flex: 0 0 235px;
        margin: 10px;
    }
}

@media (min-width: 768px) { 
    .row {
        width: 73%;
      }
}

@media (min-width: 1024px) {
    .row {
        width: 100%;
        justify-content: space-between;
       &__item {
        margin: 10px 0;
      }
    }
}


